@inherits IndexBase
@using FlappyBlazorBird.Client.Data

@page "/"
<div class="outer-div" @ref="OuterDiv" @onkeydown="@KeyDown" tabindex="0" @onclick="@OnClick" >         
    <div class="row">
        <div class="col" style="order:2;@Universe.DivStyle">
            @{
                var toRender = new List<Printable>();
                lock(ToRender) {toRender = ToRender.ToList(); }
                foreach (var printable in toRender)
                {
                    <img src="@printable.Image" style="@printable.CssStyle" class="zero"/>    
                }    
            }
        </div>
        <div class="col" style="order:1"></div>
        <div class="col" style="order:3"></div>
    </div>        
    <div class="row" style="min-height: calc(100% - 512px); height: calc(100% - 512px);">
        <div class="col"> </div>
    </div>        
</div>


