@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(FlappyBlazorBird.Client.Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(FlappyBlazorBird.Client.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(FlappyBlazorBird.Client.Shared.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
