

html, body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

.zero {
    border: 0; padding: 0; margin: 0;
}

.outer-div {
    display: flex;
    flex-flow: column;
    min-height: 1000px;
    height: 100vh;
    overflow: hidden;
} 

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    flex: 1;
    overflow: hidden;
}

.col {
    flex-basis: 100%;
    flex: 1;
    z-index: 10;
    background-color: black;
    overflow: hidden;
}